.sidebar{
    height:75vh;
}
.container  {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
  }
.sidebar-button{    
    width: 20px;
}
.open-panel {
    width: 19.5%;
    transition: 0.3s;
}
.close-panel {
    width: 0px;
    min-width: 0px;
    overflow:unset;
    transition: 0.3s;
}
.expand-panel{
    width: 99.5%;
    transition: 0.3s;
}
.collapse-panel{
    width: 80%;
    transition: 0.3s;
}
.page-section {
    border: solid 1px #ccc;
    padding: .25rem;
    background-color: #fff;
}

.refreshRotate {
    animation: rotate .4s;
}
.dropzone{
    width: 835px;
    height: 500px;
    padding: 15px;
    border: 1px solid #aaaaaa;
    overflow: hidden;
  }
  .sidenav{
    border: 1px solid #8d8686;
    overflow: auto;
    transition: 0.3s;
    padding: 10px;
  }
  .resizable-image {
    position: relative;
    cursor: move;
    overflow: hidden;
}

.resizable-image img {
    width: 100%;
    height: 100%;
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: nwse-resize;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.bottom-right {
    bottom: 0;
    right: 0;
}
.drop-area{
    width: 335px;
    height: 100px;
    padding: 15px;
    border: 1px solid #aaaaaa;
    overflow: hidden;
}
div.slds-p-around_medium {
    max-width: 600px;
    margin: 0 auto;
}
.template-preview {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.template-preview h3 {
    font-size: 16px;
    margin: 0;
}
.template-preview p {
    margin: 8px 0;
}
.slds-modal__content {
    height: 500px;
}
.custom-dropdown {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.custom-dropdown:focus {
    outline: none;
    border-color: #5c9cfa;
    background-color: #f5f5f5;
}